.foot {
    height: 100px;
    width: 100%;
    background-color: rgb(24, 23, 23);
    margin-top: 60px;
    align-items: center;
        .bottom-foot {
        justify-content: space-between;
        color: white;
        }
    h3,h5 {
    padding: 15px 0px;
    }
    a {
    padding: 0px 4px;
    color: white;
    }
}
